#Ah2{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#Bh2{
    margin-top: -20px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    margin-left: 20px;
}

#logo{
    width: 5%;
    height: 3%;
    margin-left: 20px;
}

span{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    color: #5D3587;
}

img
    {
    width: 200px;
    height: 200px;
    
    }

#subA, #subB{
    width:700px;
    background-color: #FFD1E3;
    padding: 40px;
    margin: 10px 10px 10px 20px;
    border-radius: 0px 15px 15px 0px;
    border-left: 10px solid #5D3587;
    display: inline-block;
}

h4{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #A367B1;
    margin-bottom: -15px;
}


p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #111111;    
}

#imgDivA, #imgDivB{
 
    display: inline-block;
    margin-left: 20px;
    vertical-align: top
}

#paraA, #paraB{
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-left: 20px;
 
}

#footer{
    color: #5D3587; 
    text-align: right;
    margin-right: 20px;
}


    
    
    